/*.carousel-caption{background-color: rgba(0, 0, 0, 0.6); width: 100%; right: 0; left: 0;}*/
.carousel-caption h5, p{text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);}
.carousel-indicators button{width: 20px !important; height: 20px !important; border-radius: 5px !important;}